*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;

}
 
input, button{
    appearance: none;
    background: none;
    border: none;
    outline: none;

}
.App {
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 241, 241);
}
 
form{
    display: block;
    position: relative;
}

form::after{
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left:-5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: -moz-linear-gradient(to bottom right, rgb(22, 190, 209));

}
form .form-inner {
    position: relative;
    display: block;
    background-color: #fff;
    padding: 50px;
    z-index: 2;
    text-align: center;
}

form .form-inner h2{
    color: rgb(15, 15, 14);
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 30px;
    

}
form .form-inner .form-group {
    display: block;
    color: aliceblue;
    width: 300px;
    margin-bottom: 15px;

}
.form-inner .form-group label{
    display: block;
    color: darkgreen;
font-size: 12px;
margin-bottom: 5px;
transition: 0.4s;

}
.form-inner .form-group:focus-within label {
    color: rgb(240, 237, 235);
}
form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: rgb(226, 128, 16);
    border-radius: 8px;
    transition: 0.4s;

}
form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px royalblue;

}

form .form-inner input[type="submit"],.welcome button {
    display: inline;
    padding: 10px 15px ;
    border-radius: 8px;
    background-image: -moz-linear-gradient(to right, rgb(226, 128, 16));

background-size: 200%;
background-position: 0%;
transition: 0.4s;
color: gold;
font-weight: 700;
cursor: pointer;
border-style: double;
}

form .form-inner input[type="submit"]:hover ,.welcome button:hover{
    background-position:  100% 0%;
}
.welcome {
    width: 200%;
    max-width: 480%;
    background-color: rgb(12, 12, 241);
    padding: 15px 30px;

}

.welcome h2 {
    color: aqua;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;

}

.welcome h2 span {
    color: rgb(59, 237, 23);
    font-weight: 700;

}